body{
    
    background-size: cover;
    background-attachment: fixed;
    background-color: blanchedalmond;
}


.container{
    margin: auto;
    width: 80%;
    background-color: #eeeeee;
    padding: 25px;
    border-radius: 5px;
}


h2{text-align: center;}
h1{text-align: center;}
